<nav class="navbar navbar-expand-lg mb-5 border-bottom">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
            <ul class="list-unstyled ">
                <li class="dropdown nav-item">
                    <a class="pc-head-link dropdown-toggle  d-inline me-0" data-bs-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <span class="mx-2  text-gray-600 small">Akil Mehar</span>

                        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="user-image" class="user-avtar rounded-circle" height="40px">

                    </a>
                    <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
                        <a class="dropdown-item">
                            <span>Profile Details</span>
                        </a>
                        <a routerLink="/settings" class="dropdown-item">
                            <span>Settings</span>
                        </a>
                        <a (click)="logOut()" class="dropdown-item">
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>