<div class="wrapper">
    <div class="container">
        <div class="">
            <div class="row justify-content-center ">
                <div class="col-md-4 col-12 bg-white py-4 px-3 px-md-4 rounded-4 bg">
                    <h4 class="mb-3 text-center text-muted">Register</h4>
                    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
                        <div class="form-group my-3 text-muted ">
                            <label for="name">Name</label>
                            <input type="name" class="form-control" id="name" formControlName="name" />
                            <div *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched">
                                <div *ngIf="registrationForm.get('name')?.hasError('required')" class="text-danger">Name
                                    is required.</div>

                            </div>
                        </div>
                        <div class="form-group my-3 text-muted ">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" />
                            <div
                                *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
                                <div *ngIf="registrationForm.get('email')?.hasError('required')" class="text-danger">
                                    Email
                                    is
                                    required.</div>
                                <div *ngIf="registrationForm.get('email')?.hasError('email')" class="text-danger">
                                    Invalid
                                    email
                                    format.</div>
                            </div>
                        </div>
                        <div class="form-group my-3 text-muted  ">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password" />
                            <div
                                *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
                                <div *ngIf="registrationForm.get('password')?.hasError('required')" class="text-danger">
                                    Password
                                    is required.</div>
                                <div *ngIf="registrationForm.get('password')?.hasError('minlength')"
                                    class="text-danger">
                                    Password must be at least 6
                                    characters.</div>
                            </div>
                        </div>

                        <div class="d-flex gap-2 align-items-center">
                            <button type="submit" class="btn btn-primary " [disabled]="!registrationForm.valid">
                                Register
                            </button>
                            <p class="text-muted m-0">Already have an account? <a routerLink="/login">Login</a></p>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fadeOut alert bg-success d-flex justify-content-between my-3 mx-auto me-1 fixed-top py-3 w-25"
    *ngIf="showSuccess">
    <span class="text-white"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <strong>Success!</strong> Your task is added successfully.</span>
    <button type="button" class="btn-close" (click)="dismissAlert()"></button>
</div>