<div class="page-header d-print-none px-4 mx-3 my-2">
    <div class="">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                  Charts    
                </h2>
            </div>
            <!-- Page title actions -->


        </div>
    </div>
</div>  
<div class="row p-5 g-3">

    <div class="col-md-6  h-100  ">
        <small class="py-2 mb-2">Bar Chart</small>
        
        <app-barchart></app-barchart>
   </div>
    <div class="col-md-6 h-100">
        <small class="py-2 mb-2">Line Chart</small>
        
        <app-linechart></app-linechart>

    </div>
    <div class="col-md-6 h-100">
        <small class="py-2 mb-2">Pie Chart</small>

        <app-piechart></app-piechart>

    </div>
    <div class="col-md-6 h-100">
        <small class="py-2 mb-2">Donat Chart</small>
        <app-donatchart></app-donatchart>

    </div>

</div>