<!-- <footer class="footer footer-transparent d-print-none py-5 bg-dark text-white fixed-bottom">
    <div class="container-xl">
        <div class="row ">

            <div class="col-12 mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="text-center">
                        Copyright &copy; {{date| date:'yyyy'}}
                        <span class="link-secondary">Repsinc</span>.
                        All rights reserved.
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer> -->